* {
  margin: 0;
  padding: 0; }

#box {
  width: 1422px;
  margin: 0 auto;
  position: relative; }

.nav {
  width: 1350px;
  height: 100px;
  margin: 0 auto; }
  .nav .center li:first-child {
    border-bottom: 5px #ADFF2F solid; }

#banner {
  width: 1421px;
  height: 400px;
  position: relative;
  overflow: hidden; }

.container-top {
  width: 1350px;
  margin: 0 auto;
  height: 250px;
  border-bottom: solid 1px #ccc;
  overflow: hidden;
  position: relative; }
  .container-top .container0 {
    width: 1250px;
    height: 250px;
    margin-left: 48px;
    overflow: hidden;
    position: relative; }
    .container-top .container0 .containerTop {
      position: absolute;
      left: 0;
      width: 9999px; }
      .container-top .container0 .containerTop li {
        float: left;
        border: solid 1px #ccc;
        position: relative;
        overflow: hidden;
        width: 270px;
        height: 200px;
        margin: 20px; }
        .container-top .container0 .containerTop li img {
          width: 270px;
          height: 200px;
          position: absolute;
          left: 0;
          top: 0; }
  .container-top .pre {
    position: absolute;
    left: 0;
    top: 50px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 100px;
    color: #ccc;
    display: none; }
  .container-top .next {
    position: absolute;
    right: 0;
    top: 50px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 100px;
    color: #ccc;
    display: none; }

.container {
  color: gray; }
  .container p {
    display: block;
    height: 20px; }
  .container h2 {
    display: inline-block;
    margin: 0 10px; }
  .container a {
    float: right;
    color: gray; }
  .container dt {
    position: relative;
    overflow: hidden; }
    .container dt img {
      position: absolute;
      left: 0;
      top: 0; }
    .container dt p {
      position: absolute;
      display: block;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 30px;
      line-height: 30px;
      color: #fff;
      bottom: -60px; }
      .container dt p i {
        position: absolute;
        left: 0; }
    .container dt span {
      width: 60px;
      height: 60px;
      background: red;
      line-height: 30px;
      text-align: center;
      color: #fff;
      font-size: 25px;
      position: absolute;
      top: 0;
      left: 0; }

.container-center1 {
  width: 1350px;
  height: 750px;
  border-bottom: solid 1px #ccc;
  margin: 0 auto; }
  .container-center1 .center1-left {
    float: left;
    height: 612px;
    position: relative;
    left: 0; }
    .container-center1 .center1-left img {
      position: absolute;
      left: 0; }

.center1-right {
  float: left;
  width: 1100px;
  height: 612px;
  position: relative;
  left: 250px;
  overflow: hidden; }
  .center1-right li {
    float: left; }
  .center1-right dl {
    width: 270px;
    margin-left: 5px; }
  .center1-right dt {
    height: 270px;
    margin-top: 0; }
  .center1-right dd {
    width: 270px; }
    .center1-right dd .ddleft {
      float: left; }
      .center1-right dd .ddleft a {
        float: none; }

.container-center2 {
  width: 1350px;
  height: 750px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  clear: both; }
  .container-center2 li {
    float: left; }
  .container-center2 dl {
    width: 270px;
    margin-left: 5px; }
  .container-center2 dt {
    height: 270px;
    margin-top: 0; }
  .container-center2 dd {
    width: 270px; }
    .container-center2 dd .ddleft {
      float: left; }
      .container-center2 dd .ddleft a {
        float: none; }
  .container-center2 dl {
    width: 265px;
    margin-left: 5px; }
    .container-center2 dl dt img {
      width: 265px; }
    .container-center2 dl dd {
      width: 265px; }

.center2 {
  width: 1350px;
  height: 650px;
  clear: both; }

.container-center3 {
  width: 1350px;
  height: 900px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  clear: both; }
  .container-center3 li {
    float: left; }
  .container-center3 dl {
    width: 270px;
    margin-left: 5px; }
  .container-center3 dt {
    height: 270px;
    margin-top: 0; }
  .container-center3 dd {
    width: 270px; }
    .container-center3 dd .ddleft {
      float: left; }
      .container-center3 dd .ddleft a {
        float: none; }
  .container-center3 dl {
    width: 265px;
    margin-left: 5px; }
    .container-center3 dl dt img {
      width: 265px; }
    .container-center3 dl dd {
      width: 265px; }
  .container-center3 .img1 {
    width: 1350px;
    height: 200px; }

.container-center4 {
  width: 1350px;
  height: 380px;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: solid 1px #ccc;
  clear: both; }
  .container-center4 li {
    float: left; }
  .container-center4 dl {
    width: 270px;
    margin-left: 5px; }
  .container-center4 dt {
    height: 270px;
    margin-top: 0; }
  .container-center4 dd {
    width: 270px; }
    .container-center4 dd .ddleft {
      float: left; }
      .container-center4 dd .ddleft a {
        float: none; }
  .container-center4 dl {
    width: 265px;
    margin-left: 5px; }
    .container-center4 dl dt img {
      width: 265px; }
    .container-center4 dl dd {
      width: 265px; }

.footer {
  width: 1350px;
  height: 500px;
  margin: 0 auto;
  clear: both; }

.up {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  top: 700px;
  background: #0ff;
  text-align: center; }
  .up a {
    color: #fff;
    line-height: 25px;
    font-weight: bolder; }
  .up a:hover {
    color: #f00; }

.container .containerLeftMin {
  float: left;
  margin-left: 150px; }
  .container .containerLeftMin li {
    border: solid 1px #ff0;
    margin: 10px;
    width: 150px;
    height: 150; }
  .container .containerLeftMin .active {
    border: solid 2px #f00; }
  .container .containerLeftMin img {
    width: 100%; }
.container .containerLeftMax {
  float: left;
  border: solid 1px #ff0;
  margin: 10px;
  width: 480px; }
  .container .containerLeftMax img {
    width: 100%; }
.container .containerRight {
  float: left;
  margin: 10px; }
  .container .containerRight p {
    height: 30px; }
    .container .containerRight p input {
      width: 60px;
      height: 30px;
      font-size: 20px;
      text-align: center; }
    .container .containerRight p .buy {
      width: 150px;
      margin-top: 20px;
      background: #00FF00; }
    .container .containerRight p .car {
      width: 150px;
      background: #ADFF2F; }
  .container .containerRight .containerRightBottom {
    margin-top: 50px;
    padding-top: 20px;
    border-top: #ccc solid 1px; }
.container .containerBottom {
  clear: both;
  width: 1000px;
  margin: 0 auto;
  min-height: 50px;
  border: solid 1px #ccc; }
  .container .containerBottom .sp {
    height: 40px;
    background: #ADFF2F; }
  .container .containerBottom span {
    float: left;
    margin-left: 20px;
    line-height: 40px; }
  .container .containerBottom .jianjie {
    clear: both;
    min-height: 40px; }
  .container .containerBottom .talking {
    width: 1000px;
    display: none; }

/*# sourceMappingURL=demo01.css.map */
