@charset "utf-8";
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration: none;
}
$Width:1350px;
a{
    text-decoration: none;
    color:gray;
}
#box{
    width:$Width;
    margin:0 auto;
}
.nav{
    width:$Width;
    height:100;
    border-bottom: solid 3px #CCCCCC;
}
.footer{
    width:$Width;
    height:500px;
    margin:0 auto;
    position:relative;
//  border-top:solid 1px red;
    clear:both;
}
.container{
     min-height:100px;
     border-bottom:solid 1px #fff;
    .containerTop{
        min-height:50px;
        border-bottom:solid 1px #fff;
        p{
            padding-top:15px;
            span{
                margin-left:15px;
                float:left;
            }
        }
        ul{
            margin-left:15px;
            float:left;
             li{
                float:left;
                margin-left:10px;
            }
        } 
    }
    .containerCenter{
        margin-top:20px;
        width:$Width;
        min-height: 10px;
        ul{
            li{
                width:265px;
                height:320px;
                float:left;
                 margin-left:5px;
                dl{
                    width:265px;
                    dt{
                        height:270px;
                        width:265px;
                        overflow:hidden;
                        position:relative;
                        margin-top:0;
                        img{
                            width:265px;
                            position:absolute;
                            left:0;
                            top:0;
                        }
                        p{
                            position:absolute;
                            display:block;
                            background:rgba(0,0,0,0.5);
                            width:100%;
                            height:30px;
                            line-height:30px;
                            color:#fff;
                            bottom:-60px;
                            i{
                                position:absolute;
                                left:0;
                            }
                        }
                    }
                    dd{
                        width:265px;
                        .ddleft{
                                 float:left;
                                 a{
                                     float:none;
                                 }
                            }
                        a{
                            float:right;
                        }
                    }
                }
            }
        }
    }
}
.up{
    width:50px;
    height:50px;
    position:fixed;
    right:0;
    top:700px;
    background:#0ff;
    text-align:center;
    a{
        color:#fff;
        line-height:25px;
        font-weight: bolder;
    }
    a:hover{
        color:#f00;
    }
}
//
//-------------商品详情部分-----------------
.container{
    width:$Width;
    .containerLeftMin{
        float:left;
        margin-left:150px;
        li{
            border:solid 1px #ff0;
            margin:10px;
            width:150px;
            height:150;
        }
        .active{
            border:solid 2px #f00;
        }
        img{
            width:100%;
        }
    }
    .containerLeftMax{
        float:left;
        border:solid 1px #ff0;
        margin:10px;
        width:480px;
        img{
            width:100%;
        }
    }
    .containerRight{
        float:left;
//      float:right;
        margin:10px;
        p{
            height:30px;
            input{
                width:60px;
                height:30px;
                font-size:20px;
                text-align:center;  
            }
            .buy{
                width:150px;
                margin-top:20px;
                background: #00FF00;
            }
            .car{
                width:150px;
                background: #ADFF2F;
            }
        }
        .containerRightBottom{
            margin-top:50px;
            padding-top:20px;
            border-top:#ccc solid 1px;
        }
    }
    .containerBottom{
        clear: both;
        width:1000px;
        margin:0 auto;
        min-height: 50px;
        border:solid 1px #ccc;
        .sp{
            height:40px;
            background:#ADFF2F;
        }
        span{
            float:left;
            margin-left: 20px;
            line-height:40px;
        }
        .jianjie{
            clear:both;
            min-height:40px;
        }
        .talking{
            width:1000px;
            display:none;
        }
    }
}
