@charset "utf-8";
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration: none;
}
$Width:1350px;
a{
    text-decoration: none;
    color:gray;
}
#box{
    width:$Width;
    height:100%;
    margin:0 auto;
    position:relative;
}
.nav{
    width:$Width;
    height:100;
     .center li:last-child{
        border-bottom: 5px #ADFF2F solid;
    }
}
.container{
    width:$Width;
    margin:0 auto;
    height:500px;
    border-top: solid 3px #ADFF2F;
    border-bottom:solid 1px #ccc;
    text-align:center;
    padding:30px;
    i{
        color:#f00;
        font-size:12px;
    }
    .containerLeft{
        width:500px;
        height:500px;
//      border:solid 1px #ccc;
        float:left;
        margin:0 100px;
        img{
            margin-top:50px;
        }
        .btn{
            width:100px;
            height:30px;
            color:grey;
            font-size:14px;
            background:#ADFF2F;
        }
    }
    .containerRight{
        float:left;
        width:500px;
        height:500px;
//      border:solid 1px #ccc;
        input{
            width:280px;
            height:28px;
        }
        .dl{
            margin-top:100px;
            input{
                margin:10px;
                width:350px;
                height:40px;
            }
            .btn1{
                width:100px;
                background:#ADFF2F;
            }
            .btn2{
                width:50px;
                background:#ADFF2F;
            }
        }
        .zc{
            display:none;
            margin-top:100px;
//          border:solid 1px red;
            div{
                height:20px;
            }
            span{
                float:left;
                font-size: 25px;
                margin:10px;
            }
            input{
                width:300px;
                height:40px;
            }
            .yzm{
                width:80px;
                float:left;
            }
            .yzm2{
                width:80px;
                height:40px;
                background:#ccc;
                display:inline-block;
                margin-left:40px;
            }
            .change{
                width:80px;
                background:#00FF00;
                margin:0 40px;
            }
           
            .zhuce{
                width:150px;
                background:#ADFF2F;
            }
        }
    }
}
.footer{
    width:$Width;
    height:500px;
}
.up{
    width:50px;
    height:50px;
    position:fixed;
    right:0;
    top:700px;
    background:#0ff;
    text-align:center;
    a{
        color:#fff;
        line-height:25px;
        font-weight: bolder;
    }
    a:hover{
        color:#f00;
    }
}